streamlit
google-generativeai
sentence-transformers
faiss-cpu
langchain
pypdf
python-docx
reportlab
pyngrok
PyPDF2
llama-index 
llama-index-embeddings-huggingface
langchain 
langchain-huggingface
langchain-community
tavily-python
